.model {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.title {
    position: absolute;
    left: 50%;
    top: calc(50vh - 150px);
    z-index: 10;
    font-size:6rem;
    text-align: center;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}


.subHead {
    color: var(--fgColor-accent);
    position: absolute;
    left: 50%;
    z-index: 10;
    font-size:30px;
    transform: translate(-50%,-50%);
}

.subTitle {
    top: calc(50vh - 40px);
}

.scrollDownContainer {
    position: relative;
    bottom: 100px;
    left: calc(50% - 50px);
    transform: translateY(-50%);
}

.arrow {
  position: relative;
  width: 100px;
  height: 16px;
  opacity: 0;
  &::before,
  &::after {
    content: "";
    width:50px;
    height: 2px;
    background-color: var(--fgColor-muted);
    border-radius: 2px;
    display: inline-block;
  }
  &::before {
    transform: rotate(25deg) translateX(5%)
  }
  &::after {
    transform: rotate(-25deg) translateX(-5%)
  }
  &:nth-child(1) {
    top: -50px;
    opacity: 1;
    animation: arrow2 1s ease 0s infinite;
  }
  &:nth-child(2) {
    top: -25px;
    animation: arrow1 1s ease 0.25s infinite;
  }
}

@keyframes arrow1 {
  from {
    opacity: 0;
    top: -25px;
  }
  to {
    opacity: 0;
    top: 0px;
  }
  50% {
    opacity: 1;
  }
}

@keyframes arrow2 {
  from {
    opacity: 0;
    top: -35px;
  }
  
  to {
    opacity: 0;
    top: -10px;
  }
  
  50% {
    opacity: 1;
  }
}

@media (max-width: 950px) {
    .title {
        font-size:12vw;
        white-space: wrap;
        line-height: 12vw;
        transform: translate(-50%,-50%);
        left:50%;
    }
    .subTitle {
      top: calc(37vh + 15vw);
    }
}

@media (max-width: 480px) {
    .aboutWrapper {
        padding: 1rem;
    }
}