

@font-face {
    font-family: 'Xirod';
    src: url('/fonts/Xirod/Xirod.otf');
}

:root {
  --font: 'Michroma';
  --headlineFont: 'Xirod';
}

*::selection {
  background: var(--fgColor-accent);
  color: var(--bgColor-default);
}
*::-moz-selection {
  background: var(--fgColor-accent);
  color: var(--bgColor-default);
}
*::-webkit-selection {
  background: var(--fgColor-accent);
  color: var(--bgColor-default);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  font-family: var(--font);
}

h1 {
  font-family: var(--headlineFont);
}

h2 {
  font-family: var(--headlineFont);
}

button {
  font-family: var(--headlineFont);
}

.headerFont {
    font-family: var(--headlineFont);
}

a {
  color: var(--fgColor-accent);
  text-decoration: none;
}

.scrollPage {
  position: absolute;
  x: 0;
  y: 0;
  max-width: 100vw;
  max-height: calc(100vh - 250px);
  overflow: scroll;
  -webkit-mask-image: linear-gradient(to bottom, transparent 22px, 32px, black 42px);
  mask-image: linear-gradient(to bottom, transparent 22px, 32px, black 42px);
}

.scrollPage .is-top-overflowing {
  --top-mask-size: 10px !important;
}

.scrollPage .content.is-bottom-overflowing {
  --bottom-mask-size: 48px !important;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: var(--bgColor-muted);
}

::-webkit-scrollbar-thumb {
  background: var(--bgColor-neutral-muted);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bgColor-default);
}

.bevelContainer {
 position: relative;
 background: var(--bgColor-muted);
 clip-path: polygon(
   20px 0, calc(100% - 20px) 0,
   100% 20px, 100% calc(100% - 20px),
   calc(100% - 20px) 100%, 20px 100%,
   0 calc(100% - 20px), 0 20px
 );
 border-top: 2px solid;
 border-right: 2px solid;
 border-bottom: 2px solid;
 border-left: 2px solid;
 border-image: linear-gradient(0deg, transparent 0%, var(--borderColor-default) 15%, var(--borderColor-default) 85%, transparent 100%) 1;
}

.sectionDivider {
  width: 100%;
  height: 1px;
  background: var(--borderColor-muted);
  z-index: 10;
}

.sectionTitle {
  font-size: 4rem;
  color: var(--fgColor-accent);
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translate(-50%,-80%);
}

.cvButton {
    display: block;
    position: relative;
    left: 0;
    margin: 0.6rem auto;
    background: var(--fgColor-accent);
    width: 11rem;
    height: 3rem;
    text-align: center;
    font-size: 0.95rem;
    font-family: var(--headlineFont);
    color: var(--fgColor-default);
}