:root {
  --fontStack-monospace: 'Montserrat';
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* margin: 3%; */
  overflow: hidden;
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
  /* background: linear-gradient(to top,
      var(--bgColor-default),
      var(--bgColor-muted)); */
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  font-family: var(--fontStack-monospace);
}

.scrollPage {
  position: absolute;
  x: 0;
  y: 0;
  max-width: 100vw;
  max-height: calc(100vh - 250px);
  /* margin:0 auto; */
  overflow: scroll;
  -webkit-mask-image: linear-gradient(to bottom, transparent 22px, 32px, black 42px);
  mask-image: linear-gradient(to bottom, transparent 22px, 32px, black 42px);
  /*   --top-mask-size: 0px;
  --bottom-mask-size: 0px; */
}

.scrollPage .is-top-overflowing {
  --top-mask-size: 10px !important;
}

.scrollPage .content.is-bottom-overflowing {
  --bottom-mask-size: 48px !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bgColor-muted);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bgColor-neutral-muted);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bgColor-default);
}