.blogItem {
    width:97%;
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 6px;

    margin-bottom: 25px;
    text-decoration: none;
    background-color: var(--bgColor-muted);
    color: var(--fgColor-default);
}

.tagContainer {
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    
    
}

.tagContent {
    display:inline-block;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    background-color: var(--bgColor-neutral-muted);
}