.model {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.title {
    position: absolute;
    left: 50%;
    top: calc(50vh - 120px);
    z-index: 10;
    font-size:90px;
    transform: translate(-50%,-50%);
}

.bgLogo {
    position: absolute;
    left: 50%;
    line-height: 70vh;
    top: calc(50vh - 70vh);
    user-select: none;
    z-index: -10;
    background: linear-gradient(
    to bottom,
    transparent,
    var(--bgColor-neutral-muted)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: calc(800 / 1920 * 100vw);
    transform: translate(-50%,-50%);
}

.subHead {
    color: rgb(255, 49, 49);
    position: absolute;
    left: 50%;
    z-index: 10;
    font-size:30px;
    transform: translate(-50%,-50%);
}

.subTitle {
    top: calc(50vh - 10px);
}