

.Navbar {
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
    padding-top: 10px;
    overflow: hidden;
    position:fixed;
    z-index: 10000;
}

.navbarBackground {
    height:90px;
    width:100vw;
    position: fixed;
    top:0;
    right:0;
    background: linear-gradient(to right, var(--bgColor-muted) 0px, transparent 1000px);
    z-index: 9999;
}

.NavbarButton {
    position: relative;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    text-decoration: none;
	cursor: pointer;
	outline: inherit;

    display:inline-block;
    /* padding-top: 36px; */
    padding-right: 20px;
    padding-left: 20px;
}

/* .Links {border: none;} */

.Logo {
    /* margin: .67em 0; */
    font-weight: var(--base-text-weight-zx, 600);
    /* padding-bottom: .3em; */
    font-size: 2em;
    /* border-bottom: 1px solid var(--borderColor-muted); */
}

.NavbarButton:hover {
    color:var(--fgColor-accent);
}

.NavbarButton:nth-child(2) {
    padding-left: 40px;
}
